useDynLib("CARMAgeddon")

export("monocar.cal", "monocar.hist", "monocar.estimate", "create.ctdata", "join.ctdata", "simulate.monocar")

import("methods")
importFrom("stats", "logLik", "simulate", "as.formula",
           "model.frame", "model.matrix",
           "pnorm", "printCoefmat", "runif")
importFrom("Rcpp", "evalCpp")
importFrom("RcppParallel", "RcppParallelLibs", "defaultNumThreads")
importFrom("nloptr","nloptr")
S3method("logLik", "monocar")
S3method("summary", "monocar")
S3method("print", "monocar", "summary.monocar")
S3method("simulate", "monocar")
